name: portainer
services:
  portainer:
    image: docker.io/portainer/portainer-ce:2.21.4
    container_name: portainer
    command: -H unix:///var/run/docker.sock --base-url="/portainer" --http-enabled
    volumes:
      - ./data:/data:z
      # - /var/run/docker.sock:/var/run/docker.sock
      - /run/user/1000/podman/podman.sock:/var/run/docker.sock:Z
    restart: unless-stopped
    ports:
      # keep a port exposed for debuging
      - ${PORTAINER_HTTP_PORT}:9000 # use http
      # - ${PORTAINER_HTTPS_PORT}:9443 # use https
      # - 8000:8000
    networks:
      - reverse_proxy
    # privileged: true  # for rootful

networks:
  reverse_proxy:
    name: reverse_proxy_caddy
    external: true
