services:
  tandoor_db:
    image: docker.io/postgres:16-alpine
    restart: always
    volumes:
      - ./tandoor/data/postgresql:/var/lib/postgresql/data:Z
    env_file:
      - ./.env

  tandoor_web:
    image: docker.io/vabene1111/recipes
    restart: always
    ports:
      - 7777:80
    env_file:
      - ./.env
    volumes:
      # Do not make this a bind mount, see https://docs.tandoor.dev/install/docker/#volumes-vs-bind-mounts
      - tandoor_staticfiles:/opt/recipes/staticfiles
      - ./tandoor/data/mediafiles:/opt/recipes/mediafiles:z
    depends_on:
      - tandoor_db

volumes:
  tandoor_staticfiles:
